.window-controls {
            display: flex;
            gap: 6px;
            padding: 10px;
            
        }

.control {
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }